{% extends 'miniblog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}        
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>{{ post.author|linebreaksbr }}</p>
    </div>
    <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    <div>
        {% for comment in comments %}
        <div class="comments" style="padding: 10px;"> 
         <p class="font-weight-bold"> 
           {{ comment.author|linebreaksbr }} 
           <span class=" text-muted font-weight-normal"> 
             {{ comment.published_date }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
    </div>


{% endblock %}